@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('./styles/TopPanel.css');
@import url('./styles/SidePanel.css');
@import url('./styles/Content.css');


body {
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: row;
}

.main-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}